@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: '微軟正黑體';
}

a {
  color: #fff;
  text-decoration: none;
}

.mt8 {
  margin-top: 8px;
}

.mr8 {
  margin-right: 8px;
}

input:focus-visible {
  outline: none;
}

.cp {
  cursor: pointer;
}